{% extends "padre.html" %}

{% load static %}

{% block titulo %} VISTA Y CARGA DE EQUIPOS {% endblock %}

{% block contenido_que_cambia %}
<h1>Contenido página de Equipos</h1>
<h2>Equipos</h2>
{% for equipo in equipos %}
<li>{{ equipo.nombre }} - {{ equipo.jugadores }} jugadores</li>
{% endfor %} 
<h2>Formulario</h2>
<form action="{% url 'equipos' %}" method="POST"> {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Guardar Equipo">
</form>
<h3>{{ mensaje }}</h3>
{% endblock %}