{% extends "padre.html" %}

{% load static %}

{% block titulo %} Vista Estudiantes {% endblock %}

{% block contenido_que_cambia %}
<h1>Contenido página de Estudiantes</h1>
<h2>Estudiantes</h2>
{% for estudiante in estudiantes %}
<li>{{ estudiante.nombre }} {{ estudiante.apellido }}</li>
{% endfor %} 
<h2>Formulario</h2>
<form action="{% url 'estudiantes' %}" method="POST"> {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Guardar Estudiante">
</form>
<h3>{{ mensaje }}</h3>
{% endblock %}